# Control Flow

### Python if else

In [1]:
def multiply(a, b):
    """Function to multiply"""
    print(a * b)
print(multiply.__doc__)
multiply(5,2)

Function to multiply
10

In [2]:
def func():
    """Function to check i is greater or smaller"""
    i=10
    if i>5:
        print("i is greater than 5")
    else:
        print("i is less than 15")
print(func.__doc__)
func()

Function to check i is greater or smaller
i is greater than 5

### Nested if

In [3]:
if i==20:
    print("i is 10")
if i<15:
    print("i is less than 15")
    if i>15:
        print("i is greater than 15")
    else:
        print("Not present")

NameError: name 'i' is not defined

### if-elif-else ladder

In [ ]:
def func():
    i=10
    if i==10:
        print("i is equal to 10")
    elif i==15:
        print("Not present")
    elif i==20:
        print('i am there')
    else:
        print("none")
func()

### Python for loop

In [4]:
def func():
    var = input("enter number:")
    x = int(var)
    for i in range(x):
        print(i)
func()

enter number:10
0
1
2
3
4
5
6
7
8
9

In [5]:
## Lists iteration
def func():
    print("List Iteration")
    l = ["tulasi", "ram", "ponaganti"]
    for i in l:
        print(i)
func()

# Iterating over a tuple (immutable)
def func():
    print("\nTuple Iteration")
    t = ("tulasi", "ram", "ponaganti")
    for i in t:
        print(i)
func()
 
# Iterating over a String
def func():
    print("\nString Iteration")
    s = "tulasi"
    for i in s:
        print(i)
func()

# Iterating over dictionary
def func():
    print("\nDictionary Iteration")
    d = dict()
    d['xyz'] = 123
    d['abc'] = 345
    for i in d:
        print("% s % d" % (i, d[i]))
func()

List Iteration
tulasi
ram
ponaganti

Tuple Iteration
tulasi
ram
ponaganti

String Iteration
t
u
l
a
s
i

Dictionary Iteration
xyz  123
abc  345

### Python for Loop with Continue Statement

In [6]:
def func():
    for letter in 'tulasiram':
        if letter == 'a':
            continue
        print(letter)
func()

t
u
l
s
i
r
m

### Python For Loop with Break Statement

In [7]:
def func():
    for letter in 'tulasiram':
        if letter == 'a':
            break
        print('Current Letter :', letter)
func()

Current Letter : t
Current Letter : u
Current Letter : l

### Python For Loop with Pass Statement

In [8]:
list = ['tulasi','ram','ponaganti']

def func():
  #An empty loop
    for list in 'ponaganti':
         pass
    print('Last Letter :', list)
func()

Last Letter : i

### Python range

In [9]:
def func():
    sum=0
    for i in range(1,5):
        sum = sum + i
    print(sum)

func()

10

In [10]:
def func():
    i=5
    for x in range(i):
        i = i+x
        print(i)
func()

5
6
8
11
15

### Python for loop with else

In [11]:
for i in range(1, 4):
    print(i)
else:  # Executed because no break in for
    print("No Break\n")
for i in range(1, 4):
    print(i)
    break
else:  # Not executed as there is a break
    print("No Break")

1
2
3
No Break

1

In [12]:
### Using all for loop statements in small program
def func():
    var = input("enter number:")
    x = int(var)
    for i in range(x):
        option = input("print, skip, or exit")
        if option=="print":
            print(i)
        elif option=='skip':
            continue
        elif option=='exit':
            break
    print("Good bye....!")

func()

enter number:10
print, skip, or exit20
print, skip, or exit30
print, skip, or exit40
print, skip, or exit50
print, skip, or exit60
print, skip, or exit70
print, skip, or exit80
print, skip, or exit90
print, skip, or exit20
print, skip, or exit40
Good bye....!

In [13]:
### Working with lists
def func():
    product_prices = []
    for i in range(5):
        product = input("How much the product cost ?")
        product = float(product)
        product_prices.append(product)
    print(product_prices)
    print("Total price : " , sum(product_prices))
    print("High cost of product :" , max(product_prices))
    print("average price of products", sum(product_prices)/len(product_prices))
func()

How much the product cost ?10
How much the product cost ?20
How much the product cost ?30
How much the product cost ?40
How much the product cost ?50
[10.0, 20.0, 30.0, 40.0, 50.0]
Total price :  150.0
High cost of product : 50.0
average price of products 30.0

In [14]:
### Nested for loop
### one to Twelve time tables using for loop
def func():
    for num1 in range(1,13):
        for num2 in range(1,13):
            print(num1, "*", num2, "=", num1*num2)
func()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

### Python while loop

In [6]:
## Single line statement

def func():
    '''first one'''
    count = 0
    while (count < 5): count = count + 1; print("Tulasi Ram")
print(func.__doc__)
func()

### or

def func():
    '''Second one'''
    count = 0
    while (count < 5): 
        count = count + 1 
        print("Tulasi Ram")
print(func.__doc__)
func()

first one
Tulasi Ram
Tulasi Ram
Tulasi Ram
Tulasi Ram
Tulasi Ram
Second one
Tulasi Ram
Tulasi Ram
Tulasi Ram
Tulasi Ram
Tulasi Ram

In [16]:
def func():
    list = ["ram","tulasi","ponaganti"]
    while list:
        print(list.pop())
func()

ponaganti
tulasi
ram

In [20]:
def func():
    i=0
    for i in range(10):
        i+=1
        return i
func()

1

In [29]:
def func():
    i = 0
    a = ['tulasi','ram','ponaganti']
    while i < len(a):
        if a[i] == 'tulasi' or a[i] == 'ram':
            i += 1
            continue
        print('Current word :', a[i])
        i+=1
func()

Current word : ponaganti

In [32]:
def func():
    i = 0
    a = ['tulasi','ram','ponaganti']
    while i < len(a):
        if a[i] == 'ponaganti':
            i += 1
            break
        print('Current word :', a[i])
        i+=1
func()

Current word : tulasi
Current word : ram

In [41]:
def func():
    i = 0
    a = ['tulasi','ram','ponaganti']
    while i < len(a):
        if a[i] == 'tulasi':
            i += 1
            pass
        print('Current word :', a[i])
        i+=1
func()

Current word : ram
Current word : ponaganti

In [47]:
def whileElseFunc():
    i=0
    while i<10:
        i+=1
        print(i)
    else:
        print('no break')

whileElseFunc()

1
2
3
4
5
6
7
8
9
10
no break

### using break in loops

In [49]:
def func():
    i=0
    for i in range(10):
        i+=1
        print(i)
        break
    else:
        print('no break')
func()

1

### using continue in loops

In [54]:
def func():
    i=0
    for i in range(10):
        i+=1
        print(i)
        continue
    else:
        for i in range(5):
            i+=1
            print(i)
            break
        
func()

1
2
3
4
5
6
7
8
9
10
1

In [64]:
def func():
    i=0
    for i in range(10):
        i+=1
        print(i)
        pass
    else:
        for i in range(5):
            i+=1
            print(i)        
func()

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5

#### Looping techniques using enumerate()

In [72]:
def enumearteFunc():
    list =['tulasi','ram','ponaganti']
    for key in enumerate(list):
        print(key)
enumearteFunc()

def enumearteFunc():
    list =['tulasi','ram','ponaganti']
    for key, value in enumerate(list):
        print(value)
enumearteFunc()

(0, 'tulasi')
(1, 'ram')
(2, 'ponaganti')
tulasi
ram
ponaganti

In [71]:
def zipFunc():
    list1 = ['name', 'firstname', 'lastname']
    list2 = ['ram', 'tulasi', 'ponaganti']
# using zip() to combine two containers
# and print values
    for list1, list2 in zip(list1, list2):
        print('What is your {0}?  I am {1}.'.format(list1, list2))
zipFunc()

What is your name?  I am ram.
What is your firstname?  I am tulasi.
What is your lastname?  I am ponaganti.

""" Using iteritem(): iteritems() is used to loop through the 
   dictionary printing the dictionary key-value pair sequentially 
   which is used before Python 3 version
   
   Using items(): items() performs the similar task on dictionary as   
   iteritems() but have certain disadvantages when compared with iteritems() """

In [85]:
def itemFunc():
    name = {"name": "tulasi", "firstname": "ram"}
    print("The key value pair using items is : ")
    for key, value in name.items():
        print(key, value)
itemFunc()

The key value pair using items is :
name tulasi
firstname ram

sorting the list items using loop

In [100]:
def sortedFunc():
    list = ['ram','tulasi','ponaganti']
    for i in list:
        print(sorted(i))
        continue
    for i in reversed(list):
        print(i, end=" ")
sortedFunc()

['a', 'm', 'r']
['a', 'i', 'l', 's', 't', 'u']
['a', 'a', 'g', 'i', 'n', 'n', 'o', 'p', 't']
ponaganti tulasi ram